</main>
<footer class="footer">
    <div class="footer-container container grid"></div>
        <ul class="footer-links">
            <li>
                <a href="#" class="footer-link">Acasa</a>
            </li>

            <li>
                <a href="#" class="footer-link">Despre</a>
            </li>

            <li>
                <a href="#" class="footer-link">Proiecte</a>
            </li>

            <li>
                <a href="#" class="footer-link">Contact</a>
            </li>
        </ul>
        <span class = "footer_copy">
            Copyright © 2024
        </span>

       
</footer>

<!--SCROLL UP-->
<a href="#" class="scrollup" id="scroll-up">
    <i class="ri-arrow-up-double-line"></i>
</a>

<!--EMAIL JS-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>

<!--MAIN JS-->
<script src="/main.js"></script>
</body>

</html>