<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <!--=============== FAVICON ===============-->
  <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

  <!--=============== REMIXICONS ===============-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">

  
  <link rel="stylesheet" href="styles/style.css">
</head>
  <title>Portofoliu</title>
</head>
<body>
  <header class="header" id="header">
    <nav class="nav container">
      <!--<img class="logo" src="images/logo.png" alt="logo"> -->
      <a href="#" class="nav-logo">Stefan</a>

      <div class="nav-menu" id="nav-menu">
        
        <ul class="nav-list">
          <li>
            <a href="#home" class="nav-link active-link">Home</a>
          </li>

          <li>
            <a href="#despre" class="nav-link">Despre mine</a>
          </li>

          <li>
            <a href="#proiecte" class="nav-link">Proiecte</a>
          </li>

          <li>
            <a href="#contact" class="nav-link">Contact</a>
          </li>
        </ul>

      <!--<button class="btn"><img src="images/icon.png"> Ceva </button> -->
    
      <!-- close btn-->
      <div class="nav-close" id="nav-close">
        <i class="ri-close-circle-line"></i>
      </div>

    </div>

      <!-- toggle btn-->
       <div class="nav-toggle" id="nav-toggle">
        <i class="ri-menu-line"></i>
       </div>

    </nav>
</header>
